<div autoscroll class="page-container-padding-bottom">
  <h1 class="text-center padding-top no-margin-top no-margin-bottom">
  CONTACT
  </h1>
<!--   <h2 class="text-center margin-auto margin-bottom" flex-xs="95" flex-gt-xs="60">
  Have a question? 
  </h2> -->
  <h3 class="text-center margin-bottom" style="margin-top: 10px;" flex-xs="90" flex-offset-xs="5" flex-sm="90" flex-offset-sm="5" flex-offset-gt-sm="5" flex-gt-sm="90">
  Call our office, email us or shoot us a message using this form.
  </h3>
  <div layout="row" layout-xs="column" flex-gt-xs="60" flex-offset-gt-xs="20" flex-xs="100">
    <div flex class="text-center member-details">
      <a href="tel:9702798350">
        <i class="material-icons">&#xE0CD;</i>
        <div class="margin-auto">
          <p>
            (970) 279-8350
          </p>
      </a>
      </div>
    </div>
    <div flex class="text-center member-details simplified-travel-list">
      <a href="mailto:fly@freshmtnair.com">
        <i class="material-icons">&#xE158;</i>
        <div class="margin-auto text-center">
          <p>
            fly@freshmtnair.com
          </p>
      </a>
      </div>
    </div>
  </div>
  <div ng-include src="'views/partials/forms/main-contact-form.html'">
  </div>
</div>
<div ng-include src="'views/partials/footer.html'">
</div>