<div class="page-container faq-page padding-bottom-60">
  <div layout>
    <h1 flex="95" class="text-center margin-auto">
    FREQUENTLY ASKED QUESTIONS
    </h1>
  </div>
  <div layout-gt-xs="row" flex="100" class="padding-top">
    <div layout="column" flex-gt-xs="30" class="question-categories" flex-offset-sm="5" flex-offset-md="10" flex-offset-gt-md="20" flex-offset-xs="5">
      <div class="headline" ng-class="{ 'headline-selected': showWhatIsFreshAir }" ng-click="revealWhatIsFreshAir()" >
        What is FreshAir?
      </div>
      <div class="headline" ng-class="{ 'headline-selected': showMemberships }" ng-click="revealMemberships()">
        Memberships
      </div>
      <div class="headline" ng-class="{ 'headline-selected': showScheduleAndReservations }" ng-click="revealScheduleAndReservations()">
        Schedule and Reservations
      </div>
      <div class="headline" ng-class="{ 'headline-selected': showOperations }" ng-click="revealOperations()">
        Operations, Safety and Inflight Experience
      </div>
      <div class="headline" style="margin-bottom: 20px;">
        <a href="/contact" style="text-decoration: none;"> Still have a question? <br> Contact us. </a>
      </div>
    </div>
    <div layout="column" flex-sm="5" flex-md="0" flex-gt-md="10">
    </div>
    <div layout="column" style="" class="faq" flex-sm="60" flex-offset-md="5" flex-md="50" flex-gt-md="35" flex-offset-xs="5" flex-xs="90">
      <div ng-include src="'views/partials/faq/memberships.html'">
      </div>
      <div ng-include src="'views/partials/faq/operations.html'">
      </div>
      <div ng-include src="'views/partials/faq/schedule-reservations.html'">
      </div>
      <div ng-include src="'views/partials/faq/what-is-freshair.html'">
      </div>
    </div>
    <div layout="column" flex-sm="5" flex-md="10" flex-gt-md="25">
    </div>
  </div>
</div>
<div ng-include src="'views/partials/footer.html'">
</div>