.page-container {
  background-color: $white;
}

.page-container-padding-bottom {
  background-color: $white;
  padding-bottom: 6%;
}

.padding-top {
  padding-top: 20px;
}

.padding-top-40 {
  padding-top: 40px;
}

.padding-bottom-40 {
  padding-bottom: 40px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.padding-bottom {
  padding-bottom: 20px;
}

.padding-bottom-60 {
  padding-bottom: 60px;
}

.padding-bottom-80 {
  padding-bottom: 80px;
}

.margin-top {
  margin-top: 20px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.no-margin {
  margin: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-top {
  margin-top: 0;
}

.white {
  color: $white;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.margin-auto {
  margin: auto;
}
