md-card.map-card.md-freshair-theme {
  background: url('../images/map.png') no-repeat;
  border-radius: 10px;
  height: 515px;
  position: relative;
  width: 780px;

  img.destination:hover {
    cursor: pointer;
    opacity: .4;
  }

  img.denver {
    height: 50px;
    left: 400px;
    position: absolute;
    top: 200px;
    width: 85px;
  }

  img.telluride {
    height: 255px;
    left: 48px;
    position: absolute;
    top: 168px;
    width: 380px;
  }

  img.vail {
    height: 108px;
    left: 209px;
    position: absolute;
    bottom: 277px;
    width: 230px;
  }

  img.cb {
    position: absolute;
    width: 262px;
    height: 160px;
    bottom: 138px;
    left: 168px;
  }

  img.aspen {
    position: absolute;
    width: 275px;
    height: 120px;
    bottom: 178px;
    left: 155px;     
  }

  img.steamboat {
    position: absolute;
    width: 340px;
    height: 130px;
    bottom: 320px;
    left: 100px;
  }
}

.map-modal {
  max-width: 800px;

  h1 {
    margin-top: -20px;
  }

  .telluride {
    margin-top: -10px;
  }

  i {
    cursor: pointer;
    text-align: right;
  }

  img {
    max-width: 90%;
    opacity: .6;
  }

  .image-container {
    text-align: center;
    width: 100%;
  }
}

// .desktop-map {

// }