$darkblue: #263248;
$primary: #24aae1;
$greyblue: #7e8aa2;
$gold: #ff9800;
$black: #000;
$grey: #9b9b9b;
$darkgrey: #454545;
$lightgrey: #b4b4b4;
$white: #fff;
$primary-button-on-hover: #198ab9;

.button-stlye {
  letter-spacing: 3px;
  color: $white;
}

.layout {
  height: inherit;
}

.md-sidenav-left.md-sidenav-left {
  background-color: $darkblue;
}


md-input-container.md-freshair-theme.membership-form {
  margin-bottom: 0px;

    @media (max-width: 600px) {
    margin-bottom: 18px;
  }
}

md-content.md-freshair-theme.side-nav {
  background-color: $white;
}

md-backdrop.md-opaque.md-freshair-theme {
  background-color: $white;
}

.md-button.md-freshair-theme.md-raised:not([disabled]).nav-button {
  color: $white;
  font-size: 18px;
  letter-spacing: 2.8px;
  background-color: $greyblue;
  font-weight: 100;
  padding: 6px;
  margin-bottom: 10px;
  width: 94%;
}

.md-button.md-icon-button.md-freshair-theme {
  background-color: rgba(125, 125, 125, .2);
  height: 4.8rem;
  line-height: -.8rem;
  min-width: 0;
  padding-left: 0;
  padding-right: 0;
  top: 1em;
  right: -.8em;
  width: 4.8rem;

  @media (min-width: 901px) {
    display: none;
  }
}

.md-icon-button.md-primary.md-button.md-freshair-theme.md-ink-ripple:hover {
  background-color: rgba(125, 125, 125, .2);
}

.md-button.md-freshair-theme.md-primary:not([disabled]) md-icon {
  font-size: 60px;
  height: 60px;
  width: 60px;
}

md-backdrop.md-sidenav-backdrop.md-opaque.ng-scope.md-freshair-theme {
  height: 100%;
  position: fixed;
}

.md-sidenav-left, md-sidenav.md-freshair-theme {
  position: fixed;
  height: 100%;
}


.md-sidenav-left, .md-sidenav {
  background-color: $grey;
}

.md-button.md-freshair-theme.md-accent.btn1 {
  color: $white;
}

.md-button.md-freshair-theme.md-warn.btn1 {
  color: $white;
}

.md-button.md-freshair-theme.btn1 {
  color: $white;
}

.md-button.md-freshair-theme.md-primary.btn1 {
  @extend .button-stlye;
  color: $white;
  height: 60px;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  margin: auto;
  width:80%;
}


.md-button.md-freshair-theme.md-raised.map-button {
  background-color: white;
  // min-width: 150px;
  // max-width: 150px;
  // margin: auto;
}

.md-button.md-freshair-theme.md-raised.map-button-mobile {
  background-color: white;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  min-width: 135px;
}

.md-button.md-freshair-theme.md-primary.btn2 {
  @extend .button-stlye;
  color: $white;
  height: 50px;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  margin: auto;
  width:80%;
  margin-bottom: 20px;
}

.md-button.md-freshair-theme.md-primary.btn3 {
  @extend .button-stlye;
  color: $white;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  margin: auto;
  width:250px;
  padding: 10px;
  margin-bottom: 40px;
}

.md-button.md-freshair-theme.md-primary.btn-100 {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  letter-spacing: 3px;
  height: 60px;
  width: 100%;
  background-color: rgba(36, 170, 225, 0);
  border: $black solid thin;
  color: $black;
  box-shadow: none;

  // @media (max-width: 768px) {
  //   width: 80%
  // }
}

.md-button.md-freshair-theme.md-primary.btn-101 {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  letter-spacing: 3px;
  height: 60px;
  width: 60%;
  background-color: rgba(36, 170, 225, 0);
  border: $black solid thin;
  color: $black;
  box-shadow: none;

  @media (max-width: 768px) {
    width: 100%
  }
}

.md-button.md-freshair-theme.md-primary.btn-100:hover {
  color: $white;
  border: none;
}
