$darkblue: #263248;
$primary: #24aae1;
$greyblue: #7e8aa2;
$gold: #ff9800;
$black: #000;
$grey: #9b9b9b;
$lightgrey: #b4b4b4;
$white: #fff;
$primary-button-on-hover: #198ab9;
$darkgrey: #454545;

.header {
  background-color: $darkblue;
  height: 85px;
  text-align: center;
  border-bottom: $primary solid thick;
  border-bottom-width: 5px;

  @media (max-width: 900px) {
    height: 140px;
    text-align: center;
  }
}

.dark-blue {
  background-color: $darkblue;
  width: 100%;
  max-width: 1500px;
  z-index: 100;

  @media (max-width: 900px) {
    display: none;
  }
}

.side-nav-icons img {
  width: 35px;
}

.nav-header {
  text-align: center;
  background: $darkblue;
  margin-bottom: 10px;
}

.nav-row {
  position: fixed;
}

.nav-header img {
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.mobile-nav {
  @media (min-width: 901px) {
    display: none;
  }
}

.nav-item {
  font-size: 28px;
  color: $white;
  letter-spacing: 2.8px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: 100;
}

.md-button.md-freshair-theme.md-primary.desktop-nav-link-white i {
  color: $white;
  font-size: 15px;
  vertical-align: middle;
  margin-right: 2px;
}

.logo {
  height: 70px;
  padding: 10px;
  vertical-align: middle;

  @media (max-width: 900px) {
    display: inhertit;
  }
}

.white-nav {
  display: inline-block;
  color: $white;
  letter-spacing: .03rem;
}

.mobile-logo {
  margin: auto;
  margin-top: 10px;
  width: 115px;

  @media (min-width: 901px) {
    display: none;
  }
}
