@import 'global_settings';
@import 'gotham_font';

$font-family-sans-serif: "Gotham A", "Gotham B", Helvetica, Arial, sans-serif;
$headings-font-weight: 300;
$font-size-base: 14px;
$font-size-h1: floor(($font-size-base * 3.15)); // ~44px
$font-size-h2: floor(($font-size-base * 2.15)); // ~30px
$font-size-h3: ceil(($font-size-base * 1.7)); // ~24px
$font-size-h4: ceil(($font-size-base * 1.25)); // ~18px
$font-size-h5: $font-size-base;
$font-size-h6: ceil(($font-size-base * .85)); // ~12px

// $link-color: $brand-primary;
// $link-hover-color: darken($link-color, 10%);
$link-hover-decoration: none;

$navbar-default-bg: white;
$navbar-default-border: none;
// $navbar-default-link-color: $text-color;

$input-border-radius: 0;
// $input-border: $grey-three;
$input-height-base: 50px;

p {
  line-height: 1.4;
}

h1 {
  font-size: $font-size-h1 * .85;
}

h2 {
  font-size: $font-size-h2 * .85;
}

h3 {
  font-size: $font-size-h3 * .85;
}

h4 {
  font-size: $font-size-h4 * .85;
}

h5 {
  font-size: $font-size-h5 * .85;
}

h6 {
  font-size: $font-size-h6 * .85;
}

@media (min-width: $screen-md-min) {
  h1 {
    font-size: $font-size-h1;
  }

  h2 {
    font-size: $font-size-h2;
  }

  h3 {
    font-size: $font-size-h3;
  }

  h4 {
    font-size: $font-size-h4;
  }

  h5 {
    font-size: $font-size-h5;
  }

  h6 {
    font-size: $font-size-h6;
  }
}

.muted {
  color: $grey-two;
}

.note {
  font-size: $font-size-h6;
}
