$darkblue: #263248;
$primary: #24aae1;
$greyblue: #7e8aa2;
$gold: #ff9800;
$black: #000;
$grey: #9b9b9b;
$darkgrey: #454545;
$lightgrey: #e7e7e7;
$white: #fff;
$primary-button-on-hover: #198ab9;

.news-video {
  margin-bottom: 40px;
}


.news-video video {
  background: transparent url('../images/video-still.jpg') no-repeat 0 0;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;

  @media (max-width: 1024px) {
    width: 100%;
  }
}
