@import 'navigation';
@import 'md-settings';
@import 'video';
@import 'animation';
@import 'typography';
@import 'map-feature';
@import 'formatting';
@import 'footer';

$darkblue: #263248;
$primary: #24aae1;
$greyblue: #7e8aa2;
$black: #000;
$grey: #9b9b9b;
$darkgrey: #454545;
$lightgrey: #b4b4b4;
$materialgrey: #DBDBDB;
$white: #fff;
$primary-button-on-hover: #198ab9;
$anchor-color: #6ec4e9;

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

*:focus {
  outline: none;
}

body, html {
  background-color: $darkblue;
  font-family: $font-family-sans-serif;
}

h1 {
  font-weight: 300
}

h2 {
  font-weight: 300;
  line-height: 1.1;
}

h3 {
  font-weight: 300;
  line-height: 1.1;
}

a {
  color: $primary;
}

strong {
  font-weight: 400;
}

.container {
  margin: auto;
  max-width: 1500px;
}

.jumbo {
  background: url('../images/emmons-compressed.jpg') no-repeat;
  background-position: right;
  background-size: cover;
  height: 90vh;
  overflow: hidden;
  width: 100vw;
  min-height: 500px;
  max-height: 900px;


  @media (max-width: 768px) {
  background: url('../images/emmons-compressed.jpg') no-repeat;
  background-position: 80%;
  background-size: cover;
  height: 90vh;
  overflow: hidden;
  width: 100vw;
  }

  .content-column {
    padding-top: 12vh;

    @media (max-width: 400px) {
      padding-top: 20px;
    }
  }

  h1 {
    font-weight: 600;
    font-size: 55px;
    color:$white;
    // text-shadow: 1px 1px 1px #000, 1px 1px 1px #000, 1px 1px 1px #000, 1px 1px 1px #000;

    @media (max-width: 960px) {
      font-size: 45px;
    }
  }

  h4 {
    font-weight: 300; 
    padding-bottom:10px;
  }
}

.headline {
  @extend h2;
  color: $black;
  font-size: x-large;
  font-weight: 100;
  letter-spacing: 1.69px;
  margin-top: 1em;
}

.form-image img {
  margin: auto;
  opacity: .1;
  width: 75px;
  height: 75px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.button-stlye {
  color: $white;
  letter-spacing: 3px;
}

img.md-card-image.jumbotron-image {
  max-width: 380px;
  width: 100%;
}

.material-icons {
  font-size: 70px;
}

.main-info-lg img {
  width: 95px;
}

.get-there-faster img {
  margin-left: 5px;
  margin-right: 2px;
  width: 210px;
}

.faq-page h1 {
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 20px;
}

.question-categories .headline {
  cursor: pointer;
}

.headline:focus {
  outline: none;
}

.headline:hover {
  font-weight: 400;
}

.headline-selected {
  font-weight: bold;
}

.headline-selected:hover {
  font-weight: bold;
}

.question p {
  font-weight: bold;
  margin-bottom: 0px;
}

.answer p {
  margin-top: 0;
}

.member-details {
  margin-bottom: 2%;
  padding: 10px;

  i {
    background-color: $darkblue;
    border: $primary solid;
    border-radius: 48px;
    color: $white;
    padding: 10px;
  }

  h2 {
    font-weight: 400;
    margin-top: 10px;
  }
}

.membership-page {
  h4 {
    font-weight: 500;
  }

  h2 {
    font-weight: 400;
  }

  p {
    font-size: 14px; 
  }
}

.main-page-membership {
  background-color: $materialgrey;
  padding-bottom: 40px;
}

.conversation {

  h1 {
    @media (max-width: 715px) {
      font-size: 30px;
    }
  }
}
