<div ng-show="showMemberships" class="faq">
  <div class="question">
    <p>What does it cost to be a member?</p>
  </div>
  <div class="answer">
    <p>
      The cost varies based on the membership type.  We have Individual, Family, Business, and Corporate memberships to accommodate every flight need for you!   All memberships have a flat monthly fee (please see “Memberships” tab for more information).
    </p>
  </div>
  <div class="question">
    <p> Can I fly as much as I want?</p>
  </div>
  <div class="answer">
    <p>
      Members are able to book any of the flights on the schedule. There are two restrictions. The first is that a member may only have up to two (2) scheduled legs (one ways) booked at any given time. The second restriction is that a member can only complete a maximum of two (2) legs per Thursday-Monday period.
    </p>
  </div>
  <div class="question">
    <p> Can I try out the service before becoming a member?</p>
  </div>
  <div class="answer">
    <p>
      Of course, we offer Introductory flights for potential new members to try our service before joining. The cost for a round trip Introductory Flight to any of our locations to and from Denver is $899 Round trip ($449.50 one way). Each person is able to take one (1) round trip introductory flight or two (2) single legs during a calendar year.
    </p>
  </div>
  <div class="question">
    <p> Is there a contract or minimum commitment period? </p>
  </div>
  <div class="answer">
    <p>
      FreshAir has a non-binding, subscription based membership agreement. There is no contract to become a FreshAir member and a 3 month minimum commitment period for any new member. If you have a request for a custom membership please reach out to us directly.
    </p>
  </div>
  <div class="question">
    <p> What are the policies on Cancellations/ freezing a membership? </p>
  </div>
  <div class="answer">
    <p>
      A member can freeze or cancel their membership with 30 days written notice at any time. A member can freeze their account for up to 6 months at a time and can only freeze their account once in a calendar year.
    </p>
  </div>
  <div class="answer padding-top">
    <p>
      * We have the ability to create custom corporate memberships designed to accommodate your company’s specific needs.
    </p>
    <p>
      Please contact us directly to discuss what opportunities we can create for you at <a href="mailto:fly@freshmtnair.com"> fly@freshmtnair.com</a>.
    </p>
  </div>
</div>