<div ng-show="showOperations" class="faq">
  <div class="question">
    <p>How does the process work when I get to the airport?</p>
  </div>
  <div class="answer">
    <p>
      This is part of the unique experience that you get with being a FreshAir member.  You drive up to the terminal, pass through the gatehouse and pull right up next to the plane. The ground crew will park your car and you hop right on board. You are able to arrive 20min before your departure time with no security, no lines and no hassle.
    </p>
  </div>
  <div class="question">
    <p>  What kind of aircraft will I be flying in? </p>
  </div>
  <div class="answer">
    <p>
      We use several different aircraft from our partners, based on availability. Typically these aircraft are 7 seats and range from turboprops to light jets. The most common aircraft used are Citation V, Citation II, Learjet 35, Hawker 400XP, Beachjet 400A, King Air 200, King Air 300 and Pilatus PC-12. 
    </p>
  </div>
  <div class="question">
    <p> What airports do you fly in and out of? </p>
  </div>
  <div class="answer">
    <p>
      Currently we are operating out of <a href="http://www.centennialairport.com/index.php/en/"> Centennial Airport (APA)</a>, <a href="http://www.eaglevailairport.com/vail-airport">Eagel/Vail Airport (EGE)</a>, <a href="http://aspenairport.com/">Aspen Airport (ASE)</a>, and <a href="http://tellurideairport.com/">Telluride Airport (TEX)</a>. We will be operating out of Rocky Mountain Metropolitan Airport (BJC) in Broomfield, CO, starting in March 2016.
    </p>
  </div>
  <div class="question">
    <p> Who owns and operates the planes for this membership? </p>
  </div>
  <div class="answer">
    <p>
      FreshAir does not own or operate any aircraft. We partner with local jet operators, who conduct the flights for our members. We only work with jet operators with Argus Safety Ratings and have extensive mountain flying experience to ensure you get to these destinations safely.
    </p>
  </div>
  <div class="question">
    <p> How safe are the jet operators FreshAir works with? </p>
  </div>
  <div class="answer">
    <p>
      All of the jet operators that we work with are Argus or Wyvern Safety rated. We also only work with pilots that have extensive mountain flying experience to ensure you will arrive safely to your destination.
    </p>
    <p>
      Argus Safety Rating - <a href="http://www.argus.aero/">http://www.argus.aero/</a>
    </p>
    <p>
      Wyvern Saftey Rating - <a href="http://www.wyvernltd.com/">http://www.wyvernltd.com/</a>
    </p>
    <p>
      Statistically, flying to the mountains is much safer than driving and we make sure we only fly with the safest pilots, planes and operators.
    </p>
  </div>
</div>