<div ng-show="showScheduleAndReservations" class="faq">
  <div class="question">
    <p>When are these flights?</p>
  </div>
  <div class="answer">
    <p>
      Flights are on a fixed scheduled on a weekly basis every Thursday, Friday, Sunday and Monday.
    </p>
  </div>
  <div class="question">
    <p> How do I book my flights?</p>
  </div>
  <div class="answer">
    <p>
      Members can easily book their flights in seconds and manage their reservations directly on our website. They will also be able to see flight schedules, available seats, confirmation status of flights, book guests, etc.
    </p>
  </div>
  <div class="question">
    <p> How often do the scheduled flight times or days change? </p>
  </div>
  <div class="answer">
    <p>
      Scheduled flight times can change for a couple of reasons which are out of control including weather and airport operations.  Occasionally, we will alter the schedule to better service our members based on these delays.
    </p>
  </div>
  <div class="question">
    <p> When do I receive the itinerary? </p>
  </div>
  <div class="answer">
    <p>
      Members can expect to receive the flight itinerary up to 12 hours prior to departure.  This will include the tail number, flight times, and the FBO/terminal you will be departing from.
    </p>
  </div>
  <div class="question">
    <p> What is the cancellation policy? </p>
  </div>
  <div class="answer">
    <p>
      Members may cancel up to 72 hours prior to departure, anything within 72 hours is charged a cancellation fee.
    </p>
    
  </div>
  <div class="question">
    <p> Do you fly on holidays? </p>
  </div>
  <div class="answer">
    <p>
      The typical flight schedule may change around holidays. If the regular schedule changes for an upcoming holiday, it will be posted on the online booking platform in advance.
    </p>
  </div>
</div>