<div ng-show="showWhatIsFreshAir" class="faq">
  <div class="question">
    <p>What is FreshAir?</p>
  </div>
  <div class="answer">
    <p>
      FreshAir is a membership based ride sharing program that allows members to fly private on a scheduled weekly basis from Denver to Aspen, Telluride and Vail. Members can skip the traffic on the ground and significantly reduce their travel time. They can fly on any of the scheduled flights each week to and from each of these locations.
    </p>
  </div>
  <div class="question">
    <p> What are the benefits of a FreshAir membership?</p>
  </div>
  <div class="answer">
    <p>
      FreshAir members can book flights in seconds, arrive at the airport 20 minutes before departure, enjoy no security lines, park their car for free and most importantly skip the traffic! Members benefit most from the time they save. The average flight times are 20-40min compared to endless hours on the road.
    </p>
  </div>
  <div class="question">
    <p> Why should I have a FreshAir membership?</p>
  </div>
  <div class="answer">
    <p>
      Charting your own jet can be very expensive and requires advanced prior planning.  Commercial flights to these destinations are expensive, stressful, and may only operate seasonally, if they still have service to your destination.
    </p>
    <p>
      FreshAir is a ridesharing program that has the same benefits of flying privately without paying the hefty price tag. Instead of paying per flight, our members pay one monthly fee and get access to seats on any of the confirmed flights on our schedule.
    </p>
  </div>
  <div class="question">
    <p> Do you plan to expand service to other locations? </p>
  </div>
  <div class="answer">
    <p>
      We hope to add even more sought-after destinations including Steamboat Springs via Hayden Airport (HDN) and Crested Butte via Gunnison (GUC). We are also planning to start operations from Rocky Mountain Metropolitan Airport (BJC) in Broomfield, CO starting March, 15th 2016. <br>
      Send a request for your desired destination to <a href="mailto:fly@freshmtnair.com"> fly@freshmtnair.com</a>.
    </p>
  </div>
</div>