<div flex-xs="95" flex-gt-sm="50" flex-sm="75" layout="column" class="margin-auto">
  <layout="column" ng-cloak class="md-inline-form">
  <md-content ng-hide="hideContactForm" ng-controller="mainCtrl" layout-padding>
  <div>
    <form ng-submit="submitQuestionForm()" name="userForm" class="padding-bottom">
      <div class="form-image" layout-gt-sm="row" flex-offset-gt-xs="85" flex-offset-xs="80">
        <img src="../images/favicon.png">
      </div>
      <div layout-gt-md="column">
        <md-input-container class="md-block" flex-gt-sm>
        <label>FIRST NAME</label>
        <input ng-model="user.firstname">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
        <label>LAST NAME</label>
        <input ng-model="user.lastname">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
        <label>EMAIL</label>
        <input name="email" ng-model="user.email"
        required minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
        <div ng-messages="userForm.email.$error">
          <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
            Your email must be between 10 and 100 characters long and look like an e-mail address.
          </div>
        </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
        <label>PHONE</label>
        <input ng-model="user.phone">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
        <label>QUESTION</label>
        <textarea name="question" ng-model="user.question" required md-minlength="5" md-maxlength="150" md-select-on-focus>
        </textarea>
        <div ng-messages="userForm.question.$error">
          <div ng-message-exp="['required', 'minlength', 'maxlength']">
            Please enter a valid question!
          </div>
        </div>
        </md-input-container>
      </div>
      <div class="row">
        <div class="text-center">
          <md-button type="submit" class="md-raised md-primary btn1">
          SUBMIT
          </md-button>
        </div>
      </div>
    </form>
  </div>
  </md-content>
</div>