<section class="dark-blue" layout="row" layout-xm="column" layout-align="end center" layout-wrap>
  <div layout="row" layout-align="start center" flex>
    <a href="/" class="md-primary">
      <img class="logo" src="../images/freshairwhite.png">
    </a>
    <span flex></span>
  </div>
  <md-button href="/faq" class="md-primary desktop-nav-link">FAQ</md-button>
  <md-button href="/memberships" class="md-primary desktop-nav-link">MEMBERSHIPS</md-button>
  <md-button href="/contact" class="md-primary desktop-nav-link">CONTACT</md-button> 
  <md-button href="https://freshair.checkfront.com/reserve/" target="blank" class="md-primary desktop-nav-link">SIGN IN</md-button>
  <md-button ng-disabled="true" class="md-primary desktop-nav-link-white"><i class="material-icons">phone</i><div class="white-nav">(970) 279-8350</div></md-button>
</section>