<div class="map-modal" ng-controller="mapCtrl" ng-cloak>
  <div layout flex="100">
    <i ng-click="cancel()" class="material-icons">&#xE5CD;</i>
  </div>
  <div layout>
    <h1 flex="60" class="margin-auto text-center padding-top"> CRESTED BUTTE </h1>
  </div>
  <h3 flex="80" class="text-center margin-auto padding-top" > We plan on expanding our services to Gunnison-Crested Butte Regional Airport (GUC)... please use this form to let us know you are interested! </h3>
  <div class="padding-bottom-60" ng-include src="'views/partials/forms/cb-map-form.html'">
  </div>
</div>