<div class="map-modal" ng-controller="mapCtrl" ng-cloak>
  <div layout flex="100">
    <i ng-click="cancel()" class="material-icons">&#xE5CD;</i>
  </div>
  <div layout>
    <h1 flex="60" class="margin-auto text-center"> VAIL </h1>
  </div>
  <div layout>
    <h3 flex="95" class="text-center margin-auto padding-bottom" >
    Flights to Eagle-Vail Regional Airport (EGE) on Thursday and Friday with return flights on Sunday and Monday.
    </h3>
  </div>
  <div class="image-container">
    <img src="../../images/map/airports/Vail.jpg" class="margin-auto text-center">
  </div>
  <div layout>
    <h4 flex="95" class="text-center margin-auto padding-top padding-bottom-60">
    <a href="/contact" ng-click="cancel()"> Contact us</a> to speak with one of our specialists and to receive flight times.
    </h4>
  </div>
</div>