<div layout="column">
  <div flex="100">
    <div class="footer text-center">
      <div flex-gt-xs="60" flex-xs="90" class="margin-auto">
        <p>© 2016 FreshAir Inc. All rights reserved. </p>
        <p>FreshAir Inc does not own or operate aircraft. Flights are provided by professional aircraft operators who are authorized by the FAA and DOT to provide on demand air charter service. </p>
        <h4> <a href="tel:9702798350">(970) 279-8350</a>  | <a href="mailto:fly@freshmtnair.com">fly@freshmtnair.com </a></h4>
      </div>
      <div layout flex-xs="50" flex-sm="40" flex-gt-sm="20" class="icons margin-auto">
        <a flex="25" href="https://www.facebook.com/flyfreshair/?fref=ts" target="blank">
          <img src="/images/icons/facebook.png">
        </a>
        <a flex="25" href="https://www.instagram.com/freshmtnair/" target="blank">
          <img class="margin-auto" src="/images/icons/instagram.png">
        </a>
        <a flex="25" href="https://plus.google.com/u/0/102412304485949180805/posts" target="blank">
          <img class="margin-auto" src="/images/icons/google-plus.png">
        </a>
        <a flex="25" href="https://twitter.com/flyfresh_air" target="blank">
          <img class="margin-auto" src="/images/icons/twitter-circle.png">
        </a>
      </div>
    </div>
  </div>
</div>