<div layout="row" class="margin-auto" ng-cloak flex="100">
  <div layout="row" flex-sm="60" flex-gt-sm="90" layout-xs="column" layout-sm="column" class="margin-auto">
    <div flex class="text-center member-details">
      <i class="material-icons">&#xE898;</i>
      <h2>Unlimited Flights</h2>
      <p flex-gt-xs="85" flex-xs="75" class="margin-auto">
        All-you-can-fly monthly membership. Scheduled flights depart from Centennial and Broomfield Private Airports to and from Aspen, Telluride and Vail. Members can have up to two one-way flights booked at a time.
      </p>
    </div>
    <div flex class="member-details text-center">
      <i class="material-icons">&#xE905;</i>
      <h2>The Experience</h2>
      <p flex-gt-xs="85" flex-xs="75" class="margin-auto">
        Members can book flights in seconds, arrive 20 minutes before departure and pull right up to the plane. No lines, no wait, no hassle. Free parking and saving time by skipping the traffic make FreshAir the best way to get to the mountains.
      </p>
    </div>
    <div flex class="member-details text-center">
      <i class="material-icons">&#xE539;</i>
      <h2>The Aircraft</h2>
      <p flex-gt-xs="85" flex-xs="75" class="margin-auto">
        FreshAir utilizes 7-seat aircraft (turboprops or light jets) for the majority of its flights. We occasionally bump up to midsize and heavy jets during peak demand. We always fly with two seasoned mountain pilots.
      </p>
    </div>
  </div>
</div>
<div >
  <a layout="row" style="text-decoration:none;"class="margin-auto padding-bottom-40" flex="75" href="/memberships">
    <md-button  class="md-raised md-primary btn-101 margin-auto">
    MEMBERSHIPS
    </md-button>
  </a>
</div>