<div ng-controller="NavCtrl">
  <div layout class="nav-row">
    <md-button class="md-icon-button md-primary" aria-label="Settings" ng-click="toggleLeft()">
    <md-icon>menu</md-icon>
    </md-button>
  </div>
  <div ng-cloak ng-include src="'views/partials/navigation/side-nav.html'"> 
  </div>
  <div class="mobile-nav" layout="row">
    <div flex="100" class="header">
      <a href="/">
        <img class="mobile-logo" src="../images/mobile-logo.png">
      </a>
    </div>
  </div>
  <div ng-include src="'views/partials/navigation/desktop-nav.html'"> 
  </div>
</div>